.session4{
    height: 900px;
    background-color: white;
    z-index: -1;
}
.session4 .session4-one{
    height: 50%;
    background-color: coral;
}
.content-session4{
    height: 100%;
    overflow: hidden;
    position: relative;
}
.btn-home {
    border: none;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    font-weight: 600;
}
.btn-home:hover {
    background-color: silver;
}
.session4-background{
    height: 100%;
    /* transition: ease .1s; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;

    -webkit-transform: scale(1);
    transform: scale(1);
	-webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    filter: grayscale(100%);
}
.session4-background-one{
    /* background-image: url("../image/blender_2-8_launch_pad_thumb.jpg"); */
    background-image: url("../img//background1.jpg");

}
.session4-background-two{
    /* background-image: url("../image/cgb_splp_teaser_still.jpg"); */
    background-image: url("../img//b3.jpg");

}
.session4-background-three{
    /* background-image: url("../image/andreas-rocha-wintertravellersii05_cover2-1024x576.jpg"); */
    background-image: url("../img//png.jpg");

}
.session4-content{
    width: 100%;
    height: 100%;
 
}
.box-content-session4{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.content-session4:hover .session4-background {
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
    height: 100%;
    filter: grayscale(0%);
    transition: .5s ease-in-out;
}
.content-session4:hover .session4-container {
	-webkit-transform: scale(1.05);
    transform: scale(1.05);
    /* height: 100%; */
    /* filter: grayscale(0%); */
    transition: .5s ease-in-out;
}
.session4-container{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 90%;
    width: 50%;
    margin: auto;
    padding: 20px;
    transition: .5s ease-in-out;

}
.session4-text{
    color: white;
    height: 40%;
    width: 100%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10px;
}
.session4-button{
    width: 100%;
    margin: auto;
}
.session4-button .background-button{
    margin: auto;
    width: 150px;
    height: 30px;
}
.session4-button .background-button p{
    font-size: 15px;
    padding: 5px;
}
.session4-two{
    display: flex;
    height: 50%;
}
.session4-two-content{
    width: 50%;
    height: 100%;
    /* background-color: coral; */
}