
/* .single-products .col-2 img{
    padding: 0;
}
.single-products .col-2 {
    padding: 20px;
    /* margin-left: 200px; */
/* } */
.imgProduct {
    /* margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px; */
    margin: 0 auto;
    margin-top: 100px;
}
.DetailProduct {
    margin: 0 auto;
    /* margin-left: 100px; */
    margin-top: 50px; 
}
.single-products h1 {
    margin: 20px 0;
    font-size: 30px;
    font-weight: bold;
    width: 500px;
}
.single-products h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    
}
.size {
    width: 500px;
    padding: 10px 0;
}
.btn-size {
    outline: none;
    border: 1px solid #f8f9faee;
    width: 70px;
    height: 50px;
    
}
.btn-size:hover {
    background-color: silver;
    border: 1px solid black;
}
.amount {
    width: 60px;
    height: 50px;
    margin-top: 15px;
}
.addtocart {
    width: 350px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background-color:  #ae946d;
    color: #fff;
}
.btn-like {
    width: 60px;
    height: 50px;
    background: none;
    outline: none;
    border: 1px solid black;
    
}
.shipping {
    margin-top: 50px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 15px 20px ;
}
.DetailsShippping {
    width: 500px;
    height: 150px;
    border: 1px solid #eee;
    display: none;
    box-shadow: 1px 2px 3px 4px #eee;
    margin-top: 5px;
    padding: 10px 10px;
}
.description {
    margin-top: 50px;
    
}
 .owl-carousel {
   
    display: flex;
    cursor: pointer;
    margin: 10px 0;
} 
.owl-carousel img {
    width: 80px;
    height: 80px;
    display: block;
    object-fit: cover;
    border: 1px solid #ddd;
    margin-right: 5px;
    opacity: 0.7;
    border-radius: 5px;
}
.owl-carousel img.active{
    opacity: 1;
    border: 1px solid lightseagreen;
} 